@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root {
  --color-primary-1: #5BA4A4;
  --color-primary-2: #7B8E8E;
  --color-primary-3: #2C3A3A;
  --color-gray-1: #EFFAFA;
  --color-gray-2: #EEF6F6;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  background-color: var(--color-gray-1);
  color: var(--color-primary-2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
